<div class="text-gray-700 w-3/6 pb-4 pl-4">
  <div class="flex <%= owner?(group) ? '' : 'justify-between' %>">
    <%= link_to group.name, group_path(group), class: "ftext-2xl font-normal leading-normal mt-0 mb-2 text-pink-800"%>
    <% if owner?(group) %>
        <span class="pl-2 text-gray-500">Created by me</span>
    <% elsif !group_member?(group) %>
      <div data-controller='reset-form'>
        <%= link_to 'Join', group_member_path(group), data: { turbo_method: "post", remote: 'true', action: "ajax:success->reset-form#hide" }, class: "ftext-2xl font-normal leading-none mt-0 mb-2 py-1 px-4 text-black border border-black-700 rounded"%>
      </div>
    <% end %>
  </div>
  <div>
    <%= group.users.size %> members <%= group.posts.length %> posts
  </div>
</div>