<%= turbo_frame_tag 'group_modal' %>

<%= turbo_frame_tag "groups" do %>
    <%= turbo_frame_tag "posts" do %>
        <%= turbo_frame_tag "comments" do %>
        <div>
        <p>
            <h3 class="font-medium leading-tight text-3xl mt-0 mb-2 text-black-600 pl-4">Groups</h3>
        </p>
        <div>
            <div class="flex justify-between p-4">
                <div>
                    <ul class="hidden text-sm font-medium text-center text-gray-500 rounded-lg divide-x divide-gray-200 shadow sm:flex dark:divide-gray-700 dark:text-gray-400">
                        <li class="max-w-max">
                        <%= link_to 'All Groups', groups_path, class: "max-w-max inline-block p-4 text-gray-900 bg-gray-100 rounded-l-lg focus:ring-4 focus:ring-blue-300 active focus:outline-none dark:bg-gray-700 dark:text-white"  %>
                        </li>
                        <li class="max-w-max">
                        <%= link_to 'Created by me', groups_path(search: 'owned'), class: "max-w-max inline-block p-4  bg-white hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" %>
                        </li>
                        <li class="max-w-max">
                        <%= link_to 'Where i am member', groups_path(search: 'member'), class: "max-w-max inline-block p-4 bg-white hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" %>
                        </li>
                    </ul>
                </div>
                <% if policy(Group).new? %>
                <div class="flex justify-between items-baseline" data-controller="extended-modal" data-extended-modal-prevent-default-action-opening="false">
                    <%= render 'modal' %>
                    <%= link_to new_group_path, class: "self-center", data: { action: "click->extended-modal#open", 'turbo-frame': 'group_modal' } do %>
                        <span><i class="fa-solid fa-plus"></i> Create New Group </span>
                    <% end %>
                </div>
                <% end %>
            </div>
            <% @groups.each do |group| %>
            <%= render "group", group: group %>
            <% end %>
        </div>
        <% end %>
    <% end %>
<%end %>
