<div class="w-full">
  <div class="text-gray-700 w-full pb-1">
    <%= link_to post.title, group_post_path(@group.id, post.id), class: "ftext-2xl font-normal leading-normal mt-0 mb-2 text-pink-800"%>
  </div>
  <div class="font-light leading-normal pb-2">
    <div> 
      <%= post.content %>
    </div>
     <% if policy(post).edit? %>
      <span class="text-lg font-bold"> <%= link_to 'Edit', edit_group_post_path(@group, post)%></span> | 
      <span class="text-lg font-bold "> <%= link_to "Delete", group_post_path(@group, post), data: { "turbo_method": :delete } %></span>
    <% end %> |<span class="text-lg font-bold">Created by <%= creator_name(post)%></span>
  </div>
</div>
