<%= turbo_frame_tag "posts" do %>
<%= turbo_frame_tag "comments" do %>
  <%= render "post",  post: @post %>
  <%= turbo_frame_tag "post_comments" do %>
    <div class='pt-6'>
        Comments
        <%= render(CommentComponent.with_collection(@comments, current_user: current_user)) %>
    </div>
  <% end %>
  <h2>Add New Comment</h2>
  <%= render "comments/form" %>
 <% end %>
<% end %>